body {
    font-family: Georgia, serif;
}

.main {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px 40px 150px;
    display: flex;
}

.image {
    display: flex;
    height: 400px;
    margin-left: 100px;
}

.text {
    text-align: left;
    margin: 0 50px 0 100px;
}

.p_text {
    font-size: large;
    font-weight: normal;
    margin-bottom: 7px;
    color: rgb(70,70,70);
}

.h-text {
    font-weight: bold;
    color: black;
    font-size: xxx-large;
    margin-bottom: 20px;
}

.hobby {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.h-hobby {
    font-weight: normal;
    text-align: left;
}

.h-hobby-rev {
    font-weight: normal;
    text-align: left;
    padding-left: 50px;
}

.p-hobby {
    text-align: left;
    font-size: larger;
    font-weight: lighter;
    color: rgb(70,70,70);
    padding-right: 50px;
}

.p-hobby-rev {
    text-align: left;
    font-size: larger;
    font-weight: lighter;
    color: rgb(70,70,70);
    padding-left: 50px;
}